<div class="container-fluid col-md-6 col-md-offset-3">
  <h2>New Album <span ng-if="newAlbum.band_id">for band Nº{{newAlbum.band_id}}</span></h2>
  <form>
    <fieldset class="form-group">
      <label for="title">Title</label>
      <div class="row">
        <div class="col-md-8">
          <input type="text" class="form-control" id="title" name="title" placeholder="Ritual de lo Habitual" ng-model="newAlbum.title">
        </div>  
      </div>
    </fieldset>
    <fieldset class="form-group">
      <label for="band">Band</label>
      <div class="row">
        <div class="col-md-8">
          <select class="form-control" id="band_id" name="band_id" ng-model="newAlbum.band_id"
              data-ng-options="b.id as b.name for b in bands">
          </select> 
        </div>
        <div class="col-md-3">
          <a class="btn btn-info" href="#/bands/new" role="button">New band?</a>
        </div>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="row">
        <div class="col-md-8">
          <button type="submit" class="btn btn-success" ng-click="saveAlbum(newAlbum)">Create Album</button>
          <a class="btn btn-danger" ng-href="#/bands">Discard</a>
        </div>  
      </div>
    </fieldset>
  </form>
</div>