<div class="col-md-2 col-md-offset-1 sidebar text-center">
    <div>
	  <h2>{{band.name}}-{{band.user_id}}</h2>
	  <button type="button" class="btn btn-danger" ng-click="deleteBand(band.id)">Delete</button>
	  <h6 ng-if="caution">Sorry, that's not your band :(</h6>
	  <a href="{{band.url}}"><h5>+Info</h5></a>
	</div>
	  <ul class="nav nav-sidebar list-unstyled">
	      <h3>Discos que tienes de esta banda</h3>
	      <li ng-repeat='album in albums' ng-click="">
	        <h4>{{album.title}}</h4>
	      </li>
	  </ul>
</div>