<div class="container">
  <div class="large-12 columns">
    {{ user | json }}
  </div>
  <ul>
    <li class="row" ng-repeat="article in articles | orderBy:publishedDate:false">
      <div class="large-8 small-8 columns">
        <h2><a href="{{ article.link }}" title="{{ article.title }}">{{ article.title }}</a></h2>
        <p>{{ article.contentSnippet }}</p>
      </div>
      <div class="large-4 small-4 columns">
        <h4><a ng-click="share(article)">Share this</a></h4>
      </div>
    </li>
  </ul>  
</div>
