  <div class="row">
    <div class="large-12 columns">
      <div class="row">

    <!-- Content -->

        <div class="large-8 columns">
          <div class="panel radius">

          <div class="row">
          <div class="large-6 small-6 columns">

            <h4>Under control!</h4><hr/>
            <h5 class="subheader"><b>Don't waste time</b> managing your collection</h5>

          <div class="show-for-small" align="center">
            <a href="/users/sign_up" class="small radius button">Sign up</a><br>

            <a href="/users/sign_in" class="small radius button">Login now</a>
          </div>

          </div>
          <div class="large-6 small-6 columns">

            <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water.
          </p>
        </div>

        </div>
        </div>
        </div>

        <div class="large-4 columns hide-for-small">

          <h4>Ready?</h4><hr/>

          <a href="/users/sign_up">
          <div class="panel radius callout" align="center">
            <strong>Sign up</strong>
          </div>
          </a>

          <a href="/users/sign_in">
          <div class="panel radius callout" align="center">
            <strong>Login now</strong>
          </div>
          </a>

        </div>
