<div class="row">
  <div class="col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
      <h4>Under control!</h4><hr/>
      <h5 class="subheader"><b>Don't waste time</b> managing your collection!</h5>
  </div>
  <div class="col-md-4 col-lg-4">
      <h4>Asking why...?</h4><hr/>
      <p><strong>Because</strong> I'm sure that you were in a shop, with the vynil in your hands and thought... Have it or not? <strong>Because</strong> you want to gift an album to a good friend... and may he already own it...WTF!! <strong>Because</strong> you're sure that you bought 'Relationship of Command', but it doesn't appear anywhere, you're shouting and fucked... and the answer is that your brother picked it up!</p>
  </div>
  <div class="col-md-3 col-lg-3 text-center">
      <h4>Ready?</h4><hr/>

      <a class="btn btn-info" href="/users/sign_up">Sign up</a>

      <a class="btn btn-info" href="/users/sign_in">Login now!</a>
  </div>
</div>