// Place all the styles related to the shares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_mixins";

.slide-animation {
  height: 150px;
  @include animation(0.0s, 0.5s, enter_sequence);
}

@include keyframe(enter_sequence) {
  from {
    height: 0;
  }
  to {
    height: 150px;
  }
}


input.ng-dirty.ng-valid {
  border: 1px solid green;
}
input.ng-dirty.ng-invalid {
  border: 1px solid red;
}